<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>MQTT Messanger</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">-->

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/text.css}" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">MQTT Messanger</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="active">
                            <a th:href="@{/text}">Text</a>
                        </li>
                        <li>
                            <a th:href="@{/graph}">Graph</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                    <div class="container">
                        <h3>MQTT Messanger</h3>
                        <P>usage</P>
                        <div class="input-form">
                            <div class="col-md-6 column">
                                <form id="connect-form">
                                <div class="form-inline">
                                    <label>Topic:</label>
                                    <input type="text" id="topic" class="form-control" placeholder="topic" value="messanger.topic.server">
                                    <button type="button" id="subscribe-button" class="btn btn-success btn-default">subscribe</button>
                                    <button type="button" id="unsubscribe-button" class="btn btn-default btn-danger" disabled="disabled">unsubscribe</button>
                                </div>
                                </form>
                            </div>
                            <div class="col-md-6 column">
                                <form id="send-form">
                                <div class="left-form">
                                <div class="form-inline">
                                    <label>Message:</label>
                                    <input type="text" id="send-message" class="form-control" placeholder="message to send">
                                    <button type="submit" id="send-button" class="btn btn-default btn-primary" disabled="disabled">send</button>
                                </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <div class="list-group">
                        <a class="list-group-item active">Receive</a>
                        <div id="receive-list">

                        </div>
                    </div>
                </div>
                <div class="col-md-6 column">
                    <div class="list-group">
                        <a class="list-group-item active">Send</a>
                        <div id="send-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- stomp -->
<script th:src="@{/resources/js/stomp.js}"></script>
<script th:src="@{/resources/js/text.js}"></script>



</body>
</html>
